.central-header {
    background-color: #6FCF27;
    padding: 10px 30px;
    display: flex;
    gap: 20px;
}

.central-header a {
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: "sora-bold";
    font-size: 12px;
    color: #000000;
    transition: ease-in-out .2s all;

    path {
        transition: ease-in-out .2s all;
    }
}

.central-header a:hover {
    border: 2px solid #ffffff;
    color: #ffffff;

    path:not(.dollar) {
        fill: #ffffff;
    }   
}

.header-container {
    background-color: #000000;
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container .logo-wrapper .logo-img {
    height: 70px;
}

.header-container .menu-wrapper {
    display: flex;
    align-items: center;
}

.header-container .menu-wrapper .menu-list {
    list-style: none;
    display: flex;
    gap: 50px;
    font-family: "sora-semibold";
    align-items: center;
}

.header-container .menu-wrapper .menu-list .menu-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: ease-in-out .2s all;
}

.header-container .menu-wrapper .menu-list .menu-item a:hover {
    color: #6FCF27;
}

.header-container .menu-wrapper .menu-list .menu-item.whatsapp-link a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    background-color: #6FCF27;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #6FCF27;
    transition: ease-in-out .2s all;

    path {
        transition: ease-in-out .2s all;
    }
    
}

.header-container .menu-button-mob {
    background-color: transparent;
    display: none;
}

.header-container .menu-wrapper .menu-list .menu-item.whatsapp-link a:hover {
    color: #6FCF27;
    background-color: #000000;

    path {
        stroke: #6FCF27;
    }
}

.menu-container-mob {
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    top: 150px;
    right: -210px;
    transition: all 0.3s ease-in-out;
}

.menu-container-mob.open {
    right: 10px;
}

.menu-container-mob.open.scrolled {
    top: 70px;
}

.menu-container-mob .menu-item {
    background-color: #6FCF27;
    padding: 5px;
    border-radius: 6px;
}

.menu-container-mob .menu-item a {
    font-family: "sora-bold";
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: end;
    width: 100%;
}

@media (max-width: 768px) {
    .central-header {
        padding: 10px;
        justify-content: space-between;
    }

    .central-header a {
        font-size: 10px;

        svg {
            height: 16px;
        }
    }

    .header-container .logo-wrapper {
        display: flex;
        align-items: center;
    }

    .header-container .logo-wrapper .logo-img {
        height: 40px;
    }

    .header-container .menu-wrapper {
        display: none;
    }

    .header-container .menu-button-mob {
        display: block;
    }
}