.plans-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plans-container .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.plans-container .header-wrapper b {
    font-family: "hartone-softed";
    font-size: 45px;
    font-weight: 100;
}

.plans-container .header-wrapper span {
    font-family: "poppins-regular";
    color: #9CC748;
}

.plans-container .plans-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.plans-container .plans-wrapper .plans-row {
    display: flex;
    gap: 25px;
}

.plans-container .plans-wrapper .title {
    font-family: "hartone-softed";
    font-size: 45px;
    font-weight: 100;
}

.plans-container .plans-wrapper .plans-row .plan-element {
    display: flex;
    flex-direction: column;
    align-items: center;    
    border: 3px solid #FED32C;
    padding: 25px;
    border-radius: 15px;
    gap: 15px;
}

.plans-container .plans-wrapper .plans-row .plan-element b {
    font-family: "hartone-softed";
    font-size: 45px;
    font-weight: 100;
}

.plans-container .plans-wrapper .plans-row .plan-element .benefits-wrapper {
    font-family: "poppins-regular";
    align-items: flex-start;
}

.plans-container .plans-wrapper .plans-row .plan-element div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.plans-container .plans-wrapper .plans-row .plan-element .buttons-wrapper {
    gap: 10px;
}

.plans-container .plans-wrapper .plans-row .plan-element .buttons-wrapper span {
    font-family: "poppins-bold";
    font-size: 30px;
    color: #9CC748;
}

.plans-container .plans-wrapper .plans-row .plan-element .buttons-wrapper a {
    font-family: "poppins-bold";
    font-size: 16px;
    text-decoration: none;
    padding: 5px 30px;
    background-color: #9CC748;
    border: 2px solid #9CC748;
    width: 100%;
    text-align: center;
    color: #ffffff;
    border-radius: 25px;
    transition: ease-in-out .3s all;
}

.plans-container .plans-wrapper .plans-row .plan-element .buttons-wrapper a:hover {
    background-color: transparent;
    border: 2px solid #9CC748;
    color: #000000;
}

@media (max-width: 768px) {
    .plans-container .header-wrapper {
        padding: 20px;
        text-align: center;
    }

    .plans-container .plans-wrapper {
        width: -webkit-fill-available;
    }

    .plans-container .plans-wrapper .plans-row {
        flex-direction: column;
        width: calc(100% - 40px);
    }
}