.plans-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plans-container .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.plans-container .header-wrapper b {
    font-family: "hartone-softed";
    font-size: 45px;
    font-weight: 100;
}

.plans-container .header-wrapper span {
    font-family: "poppins-regular";
    color: #9CC748;
}

.plans-container .plans-wrapper {
    display: flex;
    gap: 10px;
}

.plans-container .plans-wrapper .plan-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
    border: 1px solid;
    border-color: rgb(225 229 252);
    border-radius: 24px;
    gap: 10px;
}

.plans-container .plans-wrapper .plan-element.exclusive {
    background-image: linear-gradient(180deg, #9e99f1 -282.99%, #fff 91.12%);
}

.plans-container .plans-wrapper .plan-element.exclusive b:first-child {
    position: absolute;
    align-self: center;
    font-family: "poppins-bold";
    font-size: 10px;
    padding: 5px 10px;
    background: linear-gradient(270deg, #f30d6c -78.73%, #f8c32c 143.36%);
    color: #fff;
    margin-top: -41px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.plans-container .plans-wrapper .plan-element .top-wrapper .plan-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(225 229 252);
}

.plans-container .plans-wrapper .plan-element .top-wrapper .plan-header b {
    font-family: "hartone-softed";
    font-size: 25px;
    font-weight: 100;
    position: relative;
    margin-top: -35px;
}

.plans-container .plans-wrapper .plan-element .top-wrapper .plan-header span {
    font-family: "poppins-bold";
    font-size: 12px;
    border: 1px solid rgb(225 229 252);
    background-color: #ffffff;
    width: fit-content;
    align-self: center;
    margin-top: 30px;
    padding: 5px 10px;
    border-radius: 15px;
}

.plans-container .plans-wrapper .plan-element .top-wrapper .plan-header .plan-icon {
    height: 90px;
}

.plans-container .plans-wrapper .plan-element .top-wrapper .description {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.plans-container .plans-wrapper .plan-element .top-wrapper .description span {
    font-family: "basic-sans";
    text-align: center;
    color: #4f4e81;
}

.plans-container .plans-wrapper .plan-element .top-wrapper .benefits-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "basic-sans";
    text-align: center;
    color: #4f4e81;
}

.plans-container .plans-wrapper .plan-element .top-wrapper .benefits-header .benefits-img {
    height: 35px;
}

.plans-container .plans-wrapper .plan-element .top-wrapper .benefits-list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "basic-sans";
    color: #4f4e81;
}

.plans-container .plans-wrapper .plan-element .buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.plans-container .plans-wrapper .plan-element .buttons-wrapper a:first-child {
    font-family: "poppins-bold";
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #9CC748;
    border: 2px solid #9CC748;
    width: fit-content;
    color: #ffffff;
    border-radius: 20px;
    width: -webkit-fill-available;
    text-align: center;
}

.plans-container .plans-wrapper .plan-element .buttons-wrapper a:last-child {
    font-family: "poppins-bold";
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid #9CC748;
    width: fit-content;
    color: #9CC748;
    border-radius: 20px;
    width: -webkit-fill-available;
    text-align: center;
}