.sub-banner-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 70px;
}

.sub-banner-container .infomercial-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sub-banner-container .infomercial-wrapper .aligner {
    display: flex;
}

.sub-banner-container .infomercial-wrapper .aligner.vertical {
    flex-direction: column;
}

.sub-banner-container .infomercial-wrapper .aligner.vertical.main {
    gap: 30px;
}

.sub-banner-container .infomercial-wrapper .aligner.horizontal {
    gap: 20px;
}

.sub-banner-container .infomercial-wrapper .title {
    font-family: "sora-extrabold";
    font-weight: 100;
    color: #6FCF27;
    font-size: 2.5rem;
    letter-spacing: -1px;
    max-width: 650px;
}

.sub-banner-container .infomercial-wrapper .icon {
    height: 60px;
    align-self: center;
}

.sub-banner-container .infomercial-wrapper .aligner b {
    font-family: "sora-bold";
    font-weight: 100;
    color: #6FCF27;
    font-size: 1.6rem;
}

.sub-banner-container .infomercial-wrapper .aligner span {
    font-family: "poppins-regular";
}

@media (max-width: 768px) {
    .sub-banner-container {
        flex-direction: column-reverse;
    }

    .sub-banner-container .infomercial-wrapper, .sub-banner-container .testimonial-wrapper {
        padding: 20px;
    }

    .sub-banner-container .infomercial-wrapper .title {
        font-size: 2.3rem;
        text-align: center;
        letter-spacing: unset;
    }

    .sub-banner-container .infomercial-wrapper .aligner span {
        font-size: 14px;
    }

    .sub-banner-container .testimonial-wrapper img {
        width: 100%;
    }

}